/* Основные стили страницы */

/* Базовые настройки страницы */
.page {
  font-family: var(--main-font), sans-serif;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--text-weight);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Фоновый контейнер */
.background-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1440px;
  height: 960px;
  background-image: var(--background-page);
  background-repeat: repeat, no-repeat;
  background-position: center;
  background-size: 4px 4px, cover;
  z-index: -1;
}

/* Стили для заголовка */
.site-header {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  gap: 20px;
  margin-top: 100px;
  margin-bottom: 94px;
  border: 2px solid var(--border-color);
  border-radius: 0px;
  padding-inline: clamp(1rem, -1.344rem + 10vw, 7.656rem);
  padding-block: clamp(7.625rem, 7.449rem + 0.75vw, 8.125rem);
  background-color: var(--header-back-color);
  inline-size: var(--block-inline-size);
  position: relative;
  z-index: 1;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.logo-text {
  display: flex;
  align-items: flex-end;
  color: var(--page-text-color);
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: clamp(3.063rem, 2.71rem + 1.5vw, 4.063rem);
  font-style: normal;
  line-height: 100%;
  text-transform: uppercase;
}

.site-title {
  color: var(--page-text-color);
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.677rem + 0.85vw, 1.438rem);
  font-style: normal;
  line-height: 100%;
  text-transform: uppercase;
}

/* Стили для контента */
.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Стили для постов */
.post-item {
  justify-self: center;
  margin-bottom: 50px;
  border: 2px solid var(--border-color);
  background-color: var(--card-back-color);
  inline-size: var(--block-inline-size);
}

.image-wrapper {
  position: relative;
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
}

.image-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: url(../images/car.png);
  background-size: cover;
}

.post-image {
  display: block;
  width: calc(var(--block-inline-size) - 4px);
  height: 696px;
  object-fit: cover;
  object-position: right center;
}

/* Водяной знак */
.image-label {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  color: #000000;
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1em;
  text-transform: uppercase;
  text-shadow: -1px 0 var(--stroke-color), 0 1px var(--stroke-color),
    1px 0 var(--stroke-color), 0 -1px var(--stroke-color);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--stroke-color)) or
    (-webkit-text-stroke: 1px var(--stroke-color))
) {
  .image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
  }
}

/* Заголовок поста */
.post-heading {
  padding: 5px 10px;
  color: var(--page-text-color);
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 1.2102272245619032em;
  font-variation-settings: "slnt" 0, "wght" var(--title-weight);
}

/* Контент поста */
.post-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.post-text {
  color: var(--page-text-color);
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 1.17em;
}

/* Контейнер кнопок */
.action-buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1px;
}

/* Кнопки с иконками */
.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px transparent;
  background: var(--card-back-color);
  transition: border 0.3s ease;
}

.page__button {
  border: 2px solid var(--border-color);
  background: var(--card-back-color);
}

.card__like-button {
  width: 130px;
  height: 38px;
  padding: 9px 17px;
}

.like-icon {
  width: 40px;
  height: 35px;
  margin: auto;
}

/* Текст кнопок */
.button__text {
  position: relative;
  color: var(--button-text-color);
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 0.9em;
  mix-blend-mode: difference;
}

/* Секция сохранения */
.save-section {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

/* Кнопка сохранения */
.save-button {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 8px;
  padding: 16px 18px 14px 18px;
}

/* Текст в попапе */
.popover__text {
  color: var(--page-text-color);
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1em;
  text-transform: uppercase;
}

/* Диалоговое окно */
.no-discket[open] {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr min-content;
  row-gap: 30px;
  column-gap: 20px;
  border: 2px solid var(--border-color);
  padding: 28px;
  inline-size: clamp(21.313rem, 21.048rem + 1.13vw, 22.063rem);
}

.no-discket[open]::backdrop {
  background-color: var(--backdrop-color);
}

.popover__form {
  grid-column: span 2;
}

.popover__button {
  width: 100%;
  height: 38px;
  padding: 9px 35px;
}

/* Иконка диска */
.discket {
  z-index: 1;
  align-self: center;
  width: 22px;
  height: 21px;
  fill: var(--button-text-color);
  mix-blend-mode: difference;
}

.no-discket[open] .discket {
  width: 40px;
  height: 39px;
}



/* Элементы анимации */
.sparks {
  opacity: 0;
}

/* Медиа-запросы */
@media (prefers-reduced-motion: reduce) {
  .post-image {
    display: none;
  }
  .image-wrapper::before {
    opacity: 1;
  }
  .image-wrapper {
    aspect-ratio: 1/1;
  }
}

/* Desktop версия (1440px и больше) */
@media (min-width: 1440px) {
  .background-container {
    background-size: 4px 4px, 1440px 960px;
  }
}

/* Планшеты и средние экраны */
@media (min-width: 376px) and (max-width: 1439px) {
  .background-container {
    width: 100%;
    max-width: 1440px;
    background-size: 4px 4px, 100% 960px;
  }
}

/* Mobile версия (375px и меньше) */
@media (max-width: 375px) {
  .background-container {
    width: 375px;
    height: 667px;
    background-size: 4px 4px, 375px 667px;
  }
  
  .site-header {
    margin-bottom: 96px;
  }
  .save-button {
    flex-direction: column;
  }
  .discket {
    width: 29px;
    height: 28px;
  }
  .no-discket[open] {
    padding: 30px 36px;
  }
}
